body {
  width: 100vw;
  height: 100vh;
  width: 100%;
  height: 100%;
}
body #video_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body #video_container #video_wrapper {
  width: 100%;
  height: 100%;
}
body #video_container #video_wrapper #products_wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
}
body #video_container #video_wrapper #products_wrapper #products_cart {
  width: 64px;
  height: 64px;
  background: yellow;
  border-radius: 100%;
  position: absolute;
  font-size: 20px;
  text-align: center;
  line-height: 64px;
  right: 10px;
  top: 10px;
}
body #video_container #video_wrapper #products_wrapper #products_cart:empty {
  display: none;
}
body #video_container #video_wrapper #video {
  width: 100%;
  height: 100%;
}
