body {
  width: 100vw;
  height: 100vh;
  width: 100%;
  height: 100%;
}
body #warning-message {
  display: none;
}
body video::-webkit-media-controls-panel {
  display: flex !important;
  opacity: 1 !important;
}
@media only screen and (orientation: portrait) {
  body #wrapper {
    display: none;
  }
  body #warning-message {
    display: table;
    text-align: center;
    height: 300px;
    width: 100%;
  }
  body #warning-message #mobile_message {
    display: table-cell;
    font-size: 48px;
    vertical-align: middle;
    padding: 25%;
    font-weight: bold;
  }
}
@media only screen and (orientation: landscape) {
  body #warning-message {
    display: none;
  }
}
body #wrapper {
  width: 100%;
  height: 100%;
}
body #wrapper #video_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body #wrapper #video_container #video_wrapper {
  width: 100%;
}
body #wrapper #video_container #video_wrapper #play_wrapper {
  background: rgba(0, 0, 0, 0.5);
  display: table;
  position: absolute;
  width: 100%;
  height: inherit;
  text-align: center;
}
body #wrapper #video_container #video_wrapper #play_wrapper #play_button {
  color: #fff;
  display: table-cell;
  line-height: 100%;
  font-size: 64px;
  vertical-align: middle;
}
body #wrapper #video_container #video_wrapper #line_layer {
  position: absolute;
  display: none;
  clip-path: unset;
}
body #wrapper #video_container #video_wrapper #line_layer.active {
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
body #wrapper #video_container #video_wrapper #products_wrapper {
  height: inherit;
  position: absolute;
  width: 100%;
}
body #wrapper #video_container #video_wrapper #products_wrapper #products_cart {
  background: yellow;
  border-radius: 100%;
  font-family: Arial;
  font-size: 2vw;
  font-weight: bold;
  height: 6vw;
  line-height: 6vw;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 7%;
  width: 6vw;
}
body #wrapper #video_container #video_wrapper #products_wrapper #products_cart:before {
  font-family: 'Glyphicons Halflings';
  margin-right: 3px;
}
body #wrapper #video_container #video_wrapper #products_wrapper #playback_container {
  height: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  opacity: 0;
}
body #wrapper #video_container #video_wrapper #products_wrapper #playback_container.active {
  opacity: 1;
  z-index: 1000000;
}
body #wrapper #video_container #video_wrapper #products_wrapper #time_container {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  display: none;
  opacity: 0.75;
}
body #wrapper #video_container #video_wrapper #products_wrapper #time_container .active {
  display: block;
  line-height: 100vh;
}
body #wrapper #video_container #video_wrapper #video {
  width: 100%;
  height: 100%;
}
body .modal-backdrop {
  display: none;
}
body #checkout_modal {
  background: transparent;
}
body #checkout_modal .modal-dialog {
  width: 450px;
  margin: 20px auto;
}
body #checkout_modal .modal-dialog .modal-content {
  border-radius: 20px;
  text-align: center;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.85);
}
body #checkout_modal .modal-dialog .modal-content button {
  margin: 5px 20px;
  border-radius: 30px;
}
body #checkout_modal .modal-dialog .modal-content #checkout {
  color: #333;
  background: #FFC000;
  border-color: #FFC000;
  font-size: 1.25em;
  font-weight: bold;
  padding: 15px 20px;
  width: 200px;
}
body #checkout_modal .modal-dialog .modal-content #replay_button {
  padding: 0px;
  border-color: transparent;
  background-color: transparent;
  color: #FFC000;
  font-size: 3em;
  line-height: 57px;
}
body #checkout_modal .modal-dialog .modal-content #replay_button * {
  vertical-align: middle;
}
body #checkout_modal .modal-dialog .modal-content .modal-body {
  font-size: 1.5em;
}
body #product_modal {
  background: transparent;
}
body #product_modal .modal-dialog {
  margin: 0px;
}
body #product_modal .modal-dialog .modal-content {
  border-radius: 20px;
  display: table;
  border: 5px solid #fff;
  box-shadow: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
}
body #product_modal .modal-dialog .modal-content .modal-body,
body #product_modal .modal-dialog .modal-content .modal-footer {
  display: table-cell;
  border: none;
  padding: 5px;
}
body #product_modal .modal-dialog .modal-content .modal-body button,
body #product_modal .modal-dialog .modal-content .modal-footer button {
  width: 100%;
  margin: 0px;
  margin-bottom: 5px;
  border-radius: 30px;
}
body #product_modal .modal-dialog .modal-content .modal-body #product_name,
body #product_modal .modal-dialog .modal-content .modal-footer #product_name {
  font-size: 1.25em;
  display: block;
  margin-bottom: 10px;
}
body #product_modal .modal-dialog .modal-content .modal-body .price,
body #product_modal .modal-dialog .modal-content .modal-footer .price {
  font-size: 2em;
}
body #product_modal .modal-dialog .modal-content .modal-body .price *,
body #product_modal .modal-dialog .modal-content .modal-footer .price * {
  display: inline-block;
}
body #product_modal .modal-dialog .modal-content .modal-body .price .price_tag,
body #product_modal .modal-dialog .modal-content .modal-footer .price .price_tag {
  background: url('../img/price_tag.png') no-repeat;
  background-size: cover;
  width: 28px;
  height: 28px;
}
body #product_modal .modal-dialog .modal-content .modal-body #add_to_cart,
body #product_modal .modal-dialog .modal-content .modal-footer #add_to_cart {
  color: #333;
  background: #FFC000;
  border-color: #FFC000;
}
body #product_modal .modal-dialog .modal-content .modal-body button,
body #product_modal .modal-dialog .modal-content .modal-footer button {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
}
body #product_modal .modal-dialog .modal-content .modal-body button:first-child,
body #product_modal .modal-dialog .modal-content .modal-footer button:first-child {
  margin-top: 0;
}
body #product_modal .modal-dialog .modal-content .modal-body {
  width: 60%;
}
@media screen and (max-width: 719px) {
  body #product_modal .modal-dialog .modal-content #product_name {
    font-size: 1em;
  }
  body #product_modal .modal-dialog .modal-content .price {
    font-size: 1.75em;
  }
}
body .modal {
  position: absolute !important;
}
body .modal.fade {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
