body {
  width: 100vw;
  height: 100vh;
  width: 100%;
  height: 100%;
}
body #warning-message {
  display: none;
}
@media only screen and (orientation: portrait) {
  body #wrapper {
    display: none;
  }
  body #warning-message {
    display: table;
    text-align: center;
    height: 300px;
    width: 100%;
  }
  body #warning-message #mobile_message {
    display: table-cell;
    font-size: 48px;
    vertical-align: middle;
    padding: 25%;
    font-weight: bold;
  }
}
@media only screen and (orientation: landscape) {
  body #warning-message {
    display: none;
  }
}
body #wrapper {
  width: 100%;
  height: 100%;
}
body #wrapper #video_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body #wrapper #video_container #video_wrapper {
  width: 100%;
}
body #wrapper #video_container #video_wrapper #play_wrapper {
  background: rgba(0, 0, 0, 0.5);
  display: table;
  position: absolute;
  width: 100%;
  height: inherit;
  text-align: center;
}
body #wrapper #video_container #video_wrapper #play_wrapper #play_button {
  color: #fff;
  display: table-cell;
  line-height: 100%;
  font-size: 64px;
  vertical-align: middle;
}
body #wrapper #video_container #video_wrapper #products_wrapper {
  height: inherit;
  position: absolute;
  width: 100%;
}
body #wrapper #video_container #video_wrapper #products_wrapper #products_cart {
  background: yellow;
  border-radius: 100%;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  height: 64px;
  line-height: 64px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 7%;
  width: 64px;
}
body #wrapper #video_container #video_wrapper #products_wrapper #products_cart:before {
  font-family: 'Glyphicons Halflings';
  margin-right: 3px;
}
body #wrapper #video_container #video_wrapper #products_wrapper #products_cart:empty {
  display: none;
}
body #wrapper #video_container #video_wrapper #video {
  width: 100%;
  height: 100%;
}
body .modal-backdrop {
  display: none;
}
body #checkout_modal {
  background: transparent;
}
body #checkout_modal .modal-dialog {
  width: 450px;
}
body #checkout_modal .modal-dialog .modal-content {
  border-radius: 20px;
  text-align: center;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.85);
}
body #checkout_modal .modal-dialog .modal-content button {
  margin: 5px 20px;
  border-radius: 30px;
}
body #checkout_modal .modal-dialog .modal-content #checkout {
  color: #333;
  background: #FFC000;
  border-color: #FFC000;
  font-size: 1.25em;
  font-weight: bold;
  padding: 15px 20px;
  width: 200px;
}
body #checkout_modal .modal-dialog .modal-content #replay_button {
  padding: 0px;
  border-color: transparent;
  background-color: transparent;
  color: #FFC000;
  font-size: 3em;
  line-height: 57px;
}
body #checkout_modal .modal-dialog .modal-content #replay_button * {
  vertical-align: middle;
}
body #checkout_modal .modal-dialog .modal-content .modal-body {
  font-size: 1.5em;
}
body #product_modal {
  background: transparent;
}
body #product_modal .modal-dialog {
  margin: 0px;
}
body #product_modal .modal-dialog .modal-content {
  border-radius: 20px;
  display: table;
  background-color: rgba(255, 255, 255, 0.85);
}
body #product_modal .modal-dialog .modal-content .modal-body,
body #product_modal .modal-dialog .modal-content .modal-footer {
  display: table-cell;
}
body #product_modal .modal-dialog .modal-content .modal-body button,
body #product_modal .modal-dialog .modal-content .modal-footer button {
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  border-radius: 30px;
}
body #product_modal .modal-dialog .modal-content .modal-body #product_name,
body #product_modal .modal-dialog .modal-content .modal-footer #product_name {
  font-size: 2em;
}
body #product_modal .modal-dialog .modal-content .modal-body .price,
body #product_modal .modal-dialog .modal-content .modal-footer .price {
  font-size: 3em;
}
body #product_modal .modal-dialog .modal-content .modal-body #add_to_cart,
body #product_modal .modal-dialog .modal-content .modal-footer #add_to_cart {
  color: #333;
  background: #FFC000;
  border-color: #FFC000;
}
body #product_modal .modal-dialog .modal-content .modal-body {
  width: 60%;
}
